body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.container{
    background-color: black;
    color:azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    text-align: center;
    padding:  0 20px;

    
}


.logo{
    font-size: 2em;
    color: lightcoral;
     text-shadow: 5px 5px 0 gold,
     5px 5px 0 gold,
     5px 5px 0 gold,
     2px 2px 0 gold;
}


.button{
    background-color: blueviolet;
    color: black;
    height: 30px;
    width: 140px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    font-weight: 700;

}
input{
    width: 300px;
    text-align: center;
    font-size: 2em;
    height: 1em;
    margin: 30px;

}
#input-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
h1{
    font-family: 1em;
    
}
#submit{
   margin: leftpx;
}

#message {
    display: none;
    font-size: 2em;
    text-align: center;
    padding: 5px 15px ;
    border-radius: 20px;
    color: aliceblue;
}


#lives{
    font-size: 50px;
}

#reset{
    height: 70px;
}
